body {
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-shrink: 0;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  padding-bottom: 30px;
  color: hotpink;
  -webkit-text-stroke: 1px aqua;
}

h3 {
  display: flex;
  justify-content: center;
  color: hotpink;
  -webkit-text-stroke: 0.5px aqua;
}

button {
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 12px;
  height: 30px;
  width: auto;
  background-color: crimson;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-bottom: 10px;
}

.result-box {
  display: flex;
  justify-content: center;
  color: hotpink;
  -webkit-text-stroke: 0.5px aqua;
}

.score-box {
  display: flex;
  gap: 30px;
  justify-content: center;
  color: hotpink;
  -webkit-text-stroke: 0.5px aqua;
  padding-bottom: 50px;
}

footer {
  background-color: blueviolet;
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
}

.flex {
  display: flex;
}

.left-picture {
  background-image: url('./images/woman-pointing-guns.jpg');
  height: 300px;
  width: 400px;
  background-size: cover;
  rotate: 270deg;
}

.right-picture {
  background-image: url('./images/woman-pointing-guns.jpg');
  background-size: cover;
  height: 300px;
  width: 400px;
  rotate: 90deg;
}
