header {
    background-color: black;
    color: hotpink;
    -webkit-text-stroke: 0.5px aqua;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 1000px;
    font-size: x-large;
    padding: 20px;
    /* font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}

quote {
    display: flex;
    justify-content: center;
    padding-left: 250px;
    padding-right: 250px;
}

.main {
    background-color: black;
    height: 550px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    margin: 10px;
    background-color: aqua;

}

.buttons {
    align-items: center;
}

.fire-1000 {
    display: flex;
    justify-content: center;
}

.bar {
    background-color: blueviolet;
    padding: 18px;
}

.links { 
    display: flex;
    flex-direction: column;
}

footer {
    background-color: blueviolet;
    display: flex;
    justify-content: space-evenly;
}

img {
    height: auto; 
    width: auto; 
    max-width: 400px; 
    max-height: 400px;
    padding: 50px;
}